@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
}

p {
    cursor: pointer;
    font-weight: 600;
    color: #2e013b;
}

h1 {
    font-size: 1.8em;
    color: #2e013b;
    padding: 0px 0px 35px 15px;
}

h2 {
    font-size: 1.4em;
    color: #2e013b;
}

input {
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    font-weight: 600;
    color: #1c1c1c;
    padding-left: 3px;
}

button {
    cursor: pointer;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #2e013b;
}

button:hover {
    background: rgb(28, 28, 31); /* um tom mais claro de  */
    transition: 0.3s;
}

body {
    width: 100%;
    height: 100vh;
    background:rgb(27, 27, 27);
    background-repeat: no-repeat;
    background-size: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

    #container {
        width: 320px;
        height: 520px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 6px -1px #000000; 
        box-shadow: 0px 0px 6px -1px #000000;
        background: #ffffff;

        display: flex;
        align-items: center;
    }   

        #container .banner {
            width: 520px;
            height: 520px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background: #2e013b;

            display: none;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        #container .box-login {
            width: 320px;
            height: 520px;
            border-radius: 10px;
            background: #fff;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .box-login .box {
                width: 80%;
                height: 320px;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }

                .box .social {
                    width: 240px;
                    height: 42px;

                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }

                    .social img {
                        cursor: pointer;
                    }

            .box-login .box-account {
                width: 80%;
                height: 360px;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
    
    #bubble {
        cursor: pointer;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 1px solid #483D8B;
        background: rgb(34, 33, 34);

        display: flex;
        justify-content: center;
        align-items: center;
    }
.banner {
    position: relative; /* Para posicionar o texto em relação ao banner */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner img {
    width: 400px;
    height: auto;
    margin-left: 60px;
}

.banner p {
    margin-left: 50px; /* ajuste o valor como quiser */
}

.checkpoint-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 75px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: default;
}